# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.TelegramBots.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Влад\RiderProjects\TelegramBots\.idea\.idea.TelegramBots\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
